@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Secular+One');

.jumbotron {
    font-family: 'Alfa Slab One', cursive;
}

.drop-down:hover {
    cursor: pointer;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    color: white;
    background-color: transparent;
}


