@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Secular+One');

.jumbotron, .card-header {
    font-family: 'Alfa Slab One', cursive;
}

.drop-down:hover {
    cursor: pointer;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    color: white;
    background-color: transparent;
}

.card-header {
    background-color:lightgray;
}

.project-display {
    background-color: white;
}

#wiki-display {
    max-height: 22em;
    overflow: scroll;
}

#wiki-display, #youtube-title {
    font-family: 'Open Sans', sans-serif;
}

#youtube-embed {
    margin: 0 auto;
}